<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Some Website </title>
</head>

<body>
  {{> header}}
  <p>{{screamIt projectMessage}}</p>
  <p>
    Hi {{name}}, Here are all you projects *o*
  </p>
</body>

{{> footer}}
</html>
